@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF6EE;
  --foreground: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
